[Unit]
Description=BlumBotService
After=network.target

[Service]
User=USER_PLACEHOLDER
WorkingDirectory=HOME_PLACEHOLDER/telegram-blum-auto
Environment=PATH=HOME_PLACEHOLDER/telegram-blum-auto/venv/bin/
ExecStart=HOME_PLACEHOLDER/telegram-blum-auto/venv/bin/python3 HOME_PLACEHOLDER/telegram-blum-auto/main.py -a 1

Restart=always

[Install]
WantedBy=multi-user.target
